@use './variables';

.about-section {
  height: 50vh;
  background-color: variables.$secondary-colour;
  color: white;
}

.about-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  .about-text {
    padding-left: 100px;
    h2 {
      font-family: variables.$header-font;
      font-size: variables.$h2-size;
      margin-bottom: 0;
    }
  }
  .about-img {
    img {
      border-radius: 50%;
      width: 200px;
      margin-top: 55px;
    }
  }
}
