@use './variables';

.contactSection {
  margin: 50px 0 150px 0;
  
}

.contactFlexStuff {
  display: flex;
  justify-content: space-between;
  .contactLeft {
    
    ul {
      display: flex;
      padding: 0;
      li {
        margin-right: 20px;
      }
    }
  }
  .contactRight {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}