@use './variables';

footer {
  background-color: variables.$main-colour;
  margin: 0;
  padding: 15px 0 15px 0;
  p {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}