.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

body {
  font-size: 125%;
  font-family: 'Nunito', sans-serif;
  color: white;
  // possibly change background color
  background-color: rgb(28, 28, 28);
}

h2 {
  color: #386641;
}

ul {
  list-style: none;
}