@use './typography';
@use './variables';

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 125%;
  color: variables.$font-main;
  
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: variables.$font-main;
  
}