@use './variables';

.top-of-header {
  display: flex;
  justify-content: space-between;
  h3 {
    padding-left: 60px;
    font-size: variables.$h3-size;
    margin: 20px;
  
  }
  ul {
    display: flex;
    padding-right: 60px;
    a {
      text-decoration: none;
      color: variables.$font-main;
      
    }
    li {
      list-style: none;
      padding-left: 30px;
      margin: 20px;
      
      
    }
    .contact-button {
      background-color: variables.$button-colour;
      font-weight: bold;
      padding: 15px 25px 15px 25px;
      margin: 5px 20px 20px 20px;
      
    }
  }
}