header {
  height: 100vh;
}

.introFlexStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  .introTop {
    align-items: center;
    display: flex;
    .introLeft {
      margin-left: 100px;
      ul {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        li {
          margin-right: 15px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      h1 {
        font-size: 80px;
      }
    }
    .introRight {
      margin-right: 100px;
      img {
        width: 400px;
      }
    }
  }
  .techStack {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 23px;
      padding-right: 30px;
      border-right: 2px #386641 solid;
    }
    // The best way to deal with the tech stack no aligning it to just adjust the img size, im sure theres another way but whatever right now
    ul {
      display: flex;
      img {
        width: 120px;
      }
    }
  }
}