header {
  margin-top: 70px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1d1f23;
  padding: 0 40px 0 40px;
  h2 {
    color: white;
    font-size: 40px;
    margin: 0;
  }
  ul {
    display: flex;
    a {
      margin: 0 0.7rem 0 0.7rem;
      text-decoration: none;
      color: white;
    }
    .contactButton {
      background-color: #386641;
      padding:  10px 20px 10px 20px;
    }
  }
}