@use './variables';

header {
  margin-top: 150px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: variables.$main-background;
  padding: 0 40px 0 40px;
  h2 {
    color: variables.$font-main;
    font-size: 40px;
    margin: 0;
  }
  ul {
    display: flex;
    align-items: center;
    a {
      margin: 0 0.7rem 0 0.7rem;
      text-decoration: none;
      color: variables.$font-main;
    }
  
  }
}