@use './variables';

.featuredProjects {
  height: 100vh;
}

.featuredFlexStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayedProject {
  margin-top: 100px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: variables.$font-main;
    margin: 0;
  }
  h4 {
    color: variables.$main-colour;
    margin: 0;
  }
  p {
    text-align: center;
    margin: 50px 0 50px 0;
  }
  
}

// everything above here is currently not working but may be useable

.carousel {
  height: 75vh;
  position: relative;
  width: 50%;
  margin-left: 18vw;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}


.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: .3s;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 75%;
  transform: translateY(-50%);
  color: variables.$button-colour;
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: transparent;
}

.carousel-button:hover,
.carousel-button:focus {
  color: variables.$main-colour;
  // background-color: rgba(0, 0, 0, .2);
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}