@use './typography';

// Colours (probably going to change their values)

$font-main: #2A3033;

$button-colour: #FBAF01;

$main-colour: #3D48AE;

$secondary-colour: #818CEF;

$background-colour: #E7E8EE;

$form-background: #DFE0FC;

// typography 

$header-font: 'Nunito', sans-serif;

$h3-size: 2rem;

$h2-size: 3rem;

