@use './typography';

// Colours (probably going to change their values)

$font-main: white;

$button-colour: #FFC759;

$main-colour: #386641;

$secondary-colour: #8BB174;

$background-colour: #E7E8EE;

$form-background: #A5AE9E;

$form-font: #2A3033;

// typography 

$header-font: 'Nunito', sans-serif;

$h3-size: 2rem;

$h2-size: 4rem;

