@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=PT+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 100vh;
}

.top-of-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.top-of-header h3 {
  padding-left: 60px;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  margin: 20px;
}
.top-of-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 60px;
  margin: 0;
}
.top-of-header ul li {
  list-style: none;
  margin: 20px;
}
.top-of-header ul li:hover {
  border-bottom: 2px solid #FFC759;
}
.top-of-header ul .contact-button {
  background-color: #FFC759;
  font-weight: bold;
  padding: 12px 25px 12px 25px;
  border: 2px solid #181A18;
}
.top-of-header ul .contact-button:hover {
  border: 2px solid white;
  background-color: #386641;
}

.title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 125px;
  margin: 0;
}
.title-content .title-text h1 {
  font-size: 4.5rem;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.title-content .title-text p {
  margin: 0;
  font-size: 1.8rem;
}
.title-content .title-img img {
  width: 400px;
  margin: 0;
}

html {
  font-family: "PT Sans", sans-serif;
  font-size: 125%;
  color: white;
  background-color: #181A18;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: white;
}

.about-section {
  height: 400px;
  background-color: #8BB174;
  color: white;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.about-container .about-text {
  padding-left: 100px;
}
.about-container .about-text h2 {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
}
.about-container .about-img img {
  border-radius: 50%;
  width: 200px;
  margin-top: 55px;
}

.skills-section {
  background-color: #386641;
  color: white;
  margin: 0;
  height: 400px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}
.skills-container .skills-text {
  width: 30%;
  padding-top: 30px;
}
.skills-container .skills-text h2 {
  font-size: 4rem;
  font-family: "Nunito", sans-serif;
  margin: 0;
}
.skills-container .skills-text p {
  margin: 0;
}
.skills-container .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}
.skills-container .skills-list ul {
  padding-right: 40px;
}
.skills-container .skills-list ul li {
  padding-top: 20px;
  list-style: none;
}
.skills-container .skills-list ul li:before {
  content: "•";
  color: #FFC759;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.projects-section h2 {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
}
.projects-section .projects-list {
  list-style: none;
  padding-left: 0;
}
.projects-section .projects-list li {
  padding-bottom: 75px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects-container .project-img img {
  margin-left: 0;
  width: 400px;
  height: 300px;
}
.projects-container .projects-text {
  padding-left: 50px;
}
.projects-container .projects-text h3 {
  font-size: 2rem;
  margin: 0;
}
.projects-container .projects-text h4 {
  margin-top: 5px;
  color: #386641;
}
.projects-container .projects-text p {
  margin: 10px 0 20px 0;
}
.projects-container .projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.projects-container .projects-buttons li {
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  background-color: #FFC759;
  margin-right: 20px;
  border: 2px solid #181A18;
}
.projects-container .projects-buttons li:hover {
  border: 2px solid white;
  background-color: #386641;
}

.contact-section {
  background-color: #A5AE9E;
  padding-top: 0px;
  padding-bottom: 50px;
  color: #2A3033;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-container .contact-text {
  width: 30%;
}
.contact-container .contact-text h2 {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 80px;
}
.contact-container .contact-text .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contact-container .contact-text .social-links li {
  padding-right: 40px;
}
.contact-container .contact-text .social-links a {
  color: #2A3033;
}
.contact-container .contact-text .social-links a:hover {
  color: #FFC759;
}
.contact-container .contact-forms {
  padding: 100px 0 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  width: 100%;
}
.contact-container .contact-forms label {
  padding: 15px 0 5px 0;
}
.contact-container .contact-forms input {
  height: 50px;
  border: none;
}
.contact-container .contact-forms textarea {
  border: none;
}
.contact-container .contact-forms button {
  background-color: #FFC759;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
  width: 160px;
  border: 2px solid #A5AE9E;
}
.contact-container .contact-forms button:hover {
  border: 2px solid white;
  background-color: #386641;
  color: white;
}

footer {
  background-color: #386641;
  margin: 0;
  padding: 15px 0 15px 0;
}
footer p {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 1168px) {
  .projects-buttons {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .title-content .title-img img {
    width: 300px;
  }
  .about-section,
.skills-section {
    height: 500px;
  }
  .contact-text h2 {
    text-align: center;
  }
}
@media (max-width: 429px) {
  header .top-of-header h3 {
    padding-left: 10px;
  }
  header .top-of-header nav ul {
    padding: 0;
  }
  header .title-content .title-text {
    text-align: center;
  }
  header .title-content .title-img {
    display: none;
  }
  header a {
    display: none;
  }
  header .contact-button a {
    font-size: 18px;
    display: block;
    padding: 5px 10px;
    width: 115px;
  }
  .about-section {
    height: 926px;
  }
  .about-section .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .about-container .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .skills-section {
    height: 1050px;
  }
  .skills-section .skills-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-section .skills-container .skills-text {
    text-align: center;
    width: 100%;
  }
  .skills-section .skills-container .skills-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-section .projects-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-section img {
    display: none;
  }
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-section .contact-container .contact-text {
    width: 100%;
  }
  .contact-section .contact-container .contact-text .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-section .contact-container .contact-forms {
    display: none;
  }
}
@media (max-width: 376px) {
  header .top-of-header h3 {
    padding: 0;
    margin-right: 0;
  }
  header .top-of-header nav ul .contact-button {
    display: block;
    margin: 20px 15px 20px 0;
    padding: 12px 20px;
  }
}